@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
}

html,
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: white;
    -webkit-font-smoothing: antialiased;
}

.bodys {
    display: grid;
    place-items: center;
    background-image: linear-gradient(#0f0020, #00035aec)
}

main {
    background: url(images/background.svg);
    width: 375px;
    height: 714px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.avatar {
    padding-top: 60px;
    width: 10rem;
    margin: 6rem 35% -20px;
    position: relative;
}

.avatar span {
    position: absolute;
    top: -15px;
    z-index: 1;
    transform: rotate(10deg);
    animation: avatar 8s linear infinite;
}

@keyframes avatar{
    to {transform: rotate(360deg);}
}

.avatar > img {
    margin-top: -80px;
    width: 120px;
    object-fit: cover;
    border-radius: 100%;
    border: solid 0.3em white;
    border-style: solid;
}

.h5t {
    margin-top: -30px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    color: #ffffff;
    text-align: center;
}

ul {
    list-style: none;
    margin-top: 10px;
    padding: 0;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

li img {
    border-radius: 20px;
    width: 50px;
}

.hvr:hover{
    transition: 0.2s;
    width: 60px;
}
.btn {
    background: rgb(0, 4, 255);
    -webkit-border-radius: 50;
    -moz-border-radius: 50;
    border-radius: 50px;
    color: #ffffff;
    padding: 5px 120px 5px 120px;
    border: solid #ffffff 2px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: rgb(42, 56, 250);
    text-decoration: none;
  }

  /* Add this to your CSS */
.tooltip-red {
    --balloon-color: white;
  }
  
  .tooltip-big-text {
    --balloon-font-size: 20px;
  }
  
  .tooltip-slide {
    --balloon-move: 30px;
  }
  .align-center{
    padding-left: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
  }